* { 
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
        min-height: 100vh;
        background: linear-gradient(135deg, #f15c5c, #f78b8b);
        display: flex;
        align-items: center;
        justify-content: center;
}

/* FORM CONTAINER */
form {
    background: white;
    width: 720px;
    padding: 28px 32px;
    border-radius: 14px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
}

/* HEADING */
form h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #333;
}

/* LABELS */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #444;
}

/* INPUTS */
input, 
select,
textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 18px;
}

/* FOCUS EFFECT */
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: rgb(241, 92, 92);
    box-shadow: 0 0 0 3px rgba(241, 92, 92, 0.2);
}

/* RADIO GROUP */
.radio-group{
    display: flex;
    gap: 14px;
    margin-bottom: 18px;
}


.radio-group input[type="radio"] {
  width: auto;
  margin-right: 4px; 
       
}

.radio-group label{
    display: inline;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

/* FILE INPUT */
input[types="file"] {
    padding: 6px;
}

/* READONLY */
input[readonly] {
    background-color: #f3f3f3;
    cursor: not-allowed;
}

/* TERMS CHECKBOX */
.terms{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px 0;
}

.terms input {
  width: auto;
}

/* BUTTONS */
button {
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* Submit */
button[type="submit"] {
  background: rgb(241, 92, 92);
  color: #fff;
}

/* Reset */
button[type="reset"] {
  background: #555;
  color: #fff;
  margin-left: 10px;
}

/* Hover */
button:hover {
  opacity: 0.9;
}

